
###> HDNET-STANDARD ###
.DS_Store
/.idea/*
!/.idea/icon.svg
/.php-cs-fixer.cache
nbproject
/var/*
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/ext/
/public/typo3conf/ext/*
!/public/typo3conf/ext/site
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
/.env.local
/.env.*.local
/test-reports
###< HDNET-STANDARD ###
